/**********************************************************
GLOBAL
**********************************************************/
* {
  font-family: "Open Sans", "helvetica neue", arial, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0; }

p {
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444; }

img {
  width: 100%; }

/**********************************************************
 PAGE-GRIDS
**********************************************************/
#homepage-grid {
  display: grid;
  grid-template-rows: 100px auto auto 100px;
  height: 100vh; }

.single-workpage-grid {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh; }

/**********************************************************
HEADER
**********************************************************/
header {
  background: rgba(255, 255, 255, 0.95);
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px; }

nav {
  grid-column: 3 / span 1;
  align-self: center;
  justify-self: center; }
  nav li {
    margin-left: 20px;
    padding: 5px 10px; }
    nav li a {
      color: #666666;
      transition: color .3s; }
    nav li :hover {
      color: #ababab; }
    nav li ::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #1064e0;
      transition: width .3s; }
    nav li :hover::after {
      width: 100%; }

/**********************************************************
INTRO BLOCK
**********************************************************/
.intro-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em; }

.box {
  background: linear-gradient(#1064e0, #fff);
  height: 250px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  align-self: start;
  margin: 40px 40px;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%); }

.intro {
  max-width: 800px;
  grid-column: 2 / 4;
  grid-row: 1 / span 1;
  justify-self: center;
  align-self: center;
  padding: 30px 5px;
  margin: 60px 0;
  z-index: 10; }

/**********************************************************
PROJECT CARDS
**********************************************************/
.project-cards-bg {
  background: #f0f0f0; }

.max-width-1300 {
  max-width: 1300px;
  margin: 0 auto; }

.project-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 50px;
  padding: 20px 30px; }

.full-width-title {
  grid-column: 1 / -1;
  margin-bottom: 20px; }

.card {
  padding: 10px;
  background: #fff; }

.project-title {
  padding: 10px 0;
  margin-right: 20px;
  font-weight: 400; }
  .project-title a {
    color: #444444; }
  .project-title a:hover {
    color: #1064e0; }
  .project-title .fa-long-arrow-alt-right {
    margin-left: 10px; }

/**********************************************************
INDIVIDUAL WORK PAGES
**********************************************************/
.work-grid-6 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  padding: 0 20px;
  max-width: 900px;
  margin: 0 auto; }
  .work-grid-6 h1 {
    grid-column: 1 / -1;
    margin: 0 0 2rem; }
  .work-grid-6 p {
    grid-column: 1 / -1;
    margin: 0 0 2rem; }
  .work-grid-6 img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.18);
    padding: 10px; }
  .work-grid-6 .hms-4 {
    grid-column: 1 / span 2; }
  .work-grid-6 .hms-5 {
    grid-column: 3 / span 2; }
  .work-grid-6 .hms-6 {
    grid-column: 5 / span 2; }
  .work-grid-6 .cssiav-4 {
    grid-column: 2 / span 4; }

/**********************************************************
FOOTER
**********************************************************/
#fb-color {
  color: #6d84b4; }

#twit-color {
  color: #1da1f2; }

#email-color {
  color: red; }

#fb-color:hover {
  color: rgba(255, 255, 255, 0.95); }

#twit-color:hover {
  color: rgba(255, 255, 255, 0.95); }

#email-color:hover {
  color: rgba(255, 255, 255, 0.95); }

footer {
  background: #363636;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; }
  footer ul {
    padding: 20px 20px; }
  footer li {
    display: inline-block;
    padding: 10px; }

/**********************************************************
MEDIA QUERIES
**********************************************************/
/*changes navigation links to horizontal*/
@media (min-width: 500px) {
  nav ul {
    display: grid;
    grid-auto-flow: column; } }
/*Adjusts intro on mobile*/
@media (max-width: 500px) {
  .intro {
    grid-column: 1 / -1;
    padding: 0 50px; } }

/*# sourceMappingURL=styles.css.map */
