$black: #2e2e2e;
$mid-black: #444444;
$white: rgba(255, 255, 255, .9);
$white-soft: rgb(224, 224, 224);
$bg-black: #363636;
$main-blue: rgb(16, 100, 224);
$main-blue-dark: rgb(12, 77, 173);
$main-blue-darker: rgb(9, 57, 127);
$nav-links: rgb(158, 158, 158);
$nav-links-hover: rgb(71, 71, 71);
$nav-links-active: rgb(71, 71, 71);


$fb-color: rgb(109, 132, 180);
$fb-color-dark: rgb(59, 89, 152);
$twit-color: rgb(29, 161, 242);
$email-color: rgb(255, 0, 0);



/**********************************************************
GLOBAL
**********************************************************/

* {
    font-family: "Open Sans", "helvetica neue", arial, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
  }
  
body {
  -webkit-text-size-adjust: none;
  border-top: 7px solid $main-blue;
  color: $mid-black;
}
  


img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

// TYPOGRAPHY

p {
  font-size: 1rem;
  color: $mid-black;
}

h1 {

}

h2 {

}

h3 {

}


@media (min-width: 500px) {
  
}

@media (min-width: 767px) {
  
}

@media (min-width: 1000px) {
  
}

/**********************************************************
 PAGE-GRIDS
**********************************************************/


// #homepage-grid {
//   display: grid;
//   grid-template-rows: 1fr 3fr 3fr 1fr;
  
 
// }

.single-column-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(200px, 800px) minmax(1em, 1fr);
  grid-template-rows: auto;
  // min-height: 100vh;
  margin-top: 50px;
}

.grid-6 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  // padding: 0 20px;
  max-width: 900px;
  margin: 0 auto;
}

.work-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}



/**********************************************************
HEADER
**********************************************************/

header {
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 1000;
  background: $white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding: 20px 0;
  margin-bottom: 65px;
  border-bottom: 1px solid #e0e0e0;
 
}


.logo-homepage {
  grid-column: 1 / span 2;
  justify-self: start;
  margin-left: 40px;
  p {
    font-size: 13px;
    padding-top: 2px;
  }
  h1 {
    font-weight: 600;
    font-size: 1.3em;
    a {
      color: $black;
      border-bottom: 2px solid $main-blue;
      transition: border-bottom .1s;
      &:hover {
      border-bottom: 4px solid $main-blue;
      }
    }
  }
}


.logo {
  grid-column: 1 / -1;
  justify-self: end;
  margin-right: 40px;
  text-align: right;
  h1 {
    font-weight: 600;
    font-size: 1.3em;
    a {
      color: $black;
      border-bottom: 2px solid $main-blue;
      transition: border-bottom .1s;
      &:hover {
        border-bottom: 4px solid $main-blue;
      }
    }
  }
  p {
    font-size: 13px;
    padding-top: 2px;
  }
}





nav {
  grid-column: 3 / span 2;
  justify-self: end;
  margin-right: 40px;
  margin-top: 6px;
  ul {
    // display: grid;
    // grid-auto-flow: column; 
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 5px;
    border-top: 1px solid #e0e0e0;
    li {
      float: left;
      margin-left: 20px;
      padding: 5px 10px;
      a {
        cursor: pointer;
        color: $nav-links;
        transition: color .3s;
        font-size: 14px;
        &:hover {
        color: $nav-links-hover;
        // border-bottom: 1px solid $main-blue;
        }
      }   
    }
  }
}

.active {
  color: $nav-links-active;
}


// @media (min-width:767px) {
//   .logo {
//     grid-column: 1 /  span 2;
//     justify-self: start;
//     margin-left: 40px;
//   }
//   nav {
//     grid-column: 3 / span 2;
//     justify-self: end;
//     margin-right: 40px;
//   }
// }

@media (max-width: 550px) {
  .logo-homepage {
    grid-column: 1 / -1;
  }
  nav {
    grid-column: 1 / -1;
  }
}


@media (min-width: 900px) {
 nav li a::after {
    content:'';
    display: block;
    width: 0;
    height: 1px;
    background: $main-blue;
    transition: width .3s;
  }
  :hover::after {
    width: 100%;
  }
}





/**********************************************************
INTRO BLOCK
**********************************************************/




.intro-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 10px 0;
  h2 {
    font-size: 1.6em;
  }
}

@media (min-width: 500px) {
  .intro-block h2 {
    font-size: 1.8em;
  }
}
@media (min-width: 767px) {
  .intro-block h2 {
    font-size: 2em;
  }
}
@media (min-width: 1000px) {
  .intro-block h2 {
    font-size: 2.2em;
  }
}


.box {
  background: linear-gradient(rgb(16, 100, 224), #fff );
  height: 225px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  align-self: start;
  margin: 60px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.intro {
  max-width: 800px;
  grid-column: 2 / 4;
  grid-row: 1 / span 1;
  justify-self: center;
  align-self: center;
  padding: 30px 5px;
  margin: 60px 0;
  z-index: 10;
}

@media (max-width:500px) {
  .intro {
    grid-column: 1 / -1;
    padding: 0 50px;
  }
}







/**********************************************************
PROJECT CARDS
**********************************************************/


.project-cards-bg {
  background: #f0f0f0;
  
}


.project-cards {
  max-width: 1200px;
  margin: 50px auto 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  padding: 100px 30px;
}

.full-width-title {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  font-size: 1.2em;
}
@media (min-width: 767px) {
  .full-width-title {
    font-size: 1.3em;
  }
}

.card {
  padding: 10px;
  background: #fff;
  border-bottom: 10px solid #f0f0f0;
  transition: border-bottom .4s;
  &:hover {
    border-bottom: 10px solid $main-blue;
  }
}





.project-title {
  padding: 5px 0;
  margin-right: 20px;
  font-size: 1em;
  font-weight: 400;
  a {
    color: $mid-black;
    &:hover {
    color: $main-blue;
    }
  }
}

.view-more {
  display: grid;
  grid-column: 1 / -1;
  width: 95%;
  margin-top: 15px;
  justify-self: center;
  justify-items: center;
  p {
    padding: 10px 0;
  }
  a {
    background: $main-blue;
    border-radius: 2px;
    color: $white;
    font-weight: 600;
    padding: 10px 10px;
    box-shadow: none;
    transition: box-shadow .3s, color .3s;
    &:hover {
      color: $main-blue-darker;
      box-shadow: 3px 3px 1px 0px $main-blue-dark;
      transition: box-shadow .3s, color .3s;
    }
  }
}






  
// .fillbox {
//   max-width: 100%;
//   background: blue;
// }







/**********************************************************
ALL WORK PAGE
**********************************************************/



.recent-work-wrap {
  position: relative;
 
}

#recent-work-1 {
  position: fixed;
  top: 55%;
  left: 28%;
  z-index: -1;
  font-size: 80px;
  transform: rotate(90deg);
}

#recent-work-2 {
  position: fixed;
  top: 65%;
  right: 29%;
  z-index: -1;
  font-size: 80px;
  transform: rotate(-90deg);
}

@media (max-width: 900px) {
  #recent-work-1 {
    left: 15%;
  }
  #recent-work-2 {
    right: 20%;
  }
}

@media (max-width: 575px) {
  #recent-work-1 {
    left: 5%;
  }
  #recent-work-2 {
    right: 10%;
  }
}

@media (max-width: 440px) {
  #recent-work-1 {
    left: 2%;
  }
  #recent-work-2 {
    right: 5%;
  }
}

@media (max-width: 365px) {
  #recent-work-1 {
    left: -17%;
  }
  #recent-work-2 {
    right: -10%;
  }
}





.all-work {
  z-index: 1;
  background: rgba(255, 255, 255, .9);
  grid-column: 2 / 3;
  h1 {
    margin-bottom: 50px;
    font-size: 1.4em
  }
  h2 {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.1em;
    color: $mid-black;
    // margin: 0 0 2rem;
    a {
      color: $mid-black;
      border-bottom: 1px solid $main-blue;
      &:hover {
        color: $main-blue-dark;
      }
    }
  }
  .work-desc {
    grid-column: 1 / span 1;
    @media (max-width: 700px) {
      grid-column: 1 / -1; 
    }
  }
  ul {
    grid-column: 2 / 3;
    @media (max-width: 700px) {
      grid-column: 1 / -1; 
    }
    padding: 0 0 0 10px;
    border-left: 1px solid #e0e0e0; 
    li {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  p {
    grid-column: 1 / -1;
  }
  .work-description {
    grid-column: 1 / -1;
  }
}

@media (min-width: 767px) {
  .all-work h1 {
    font-size: 1.7em;
  }
  .all-work h2 {
    font-size: 1.3em;
  }
}

.work-intro-img {
  // padding: 10px;
  padding-bottom: 5px;
  background: #fff;
  border-bottom: 10px solid #fff;
  transition: border-bottom .4s;
  &:hover {
    border-bottom: 10px solid $main-blue;
  }
}


.work-block {
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0;
  
}







/**********************************************************
ABOUT
**********************************************************/

.about {
  grid-column: 2 / 3;
  margin-bottom: 75px;
  h1 {
    grid-column: 1 / -1;
    font-size: 1.4em;
  }
}

@media (min-width: 767px) {
  .about h1 {
    font-size: 1.7em;
  }
}

.about-story {
  grid-column: 1 / span 3;
  padding-bottom: 30px;
}

.jammy {
  grid-column: 4 / span 3; 
  grid-row: 2;
  position: relative;
}
.hula {
  grid-column: 1 / span 3;
  grid-row: 3;
  position: relative;
}

.contact-info {
  width: 100%;
  padding: 30px;
  background: $main-blue;
  grid-column: 4 / span 3;
  justify-self: center;
  h2 {
    margin: 20px 0;
    color: $white-soft;
  }
  p {
    color: $white-soft;
    a {
      color: $white-soft;
      border-bottom: 2px solid $main-blue-darker;
      &:hover {
        color: $main-blue-darker;
        border-bottom: 4px solid $main-blue-darker;
      }
    }
  }
}



.dog-name {
  position: absolute;
  top: 15px;
  left: 16px;
  color: $white;
  font-weight: 700;
  font-size: 1.6rem;
  transform: rotate(-20deg);
  
}



@media (max-width:700px) {
  .about-story {
    grid-column: 1 / -1;
    grid-row: 2;
  }
  .jammy {
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: center;
  }
  .hula {
    grid-column: 1 / -1;
    grid-row: 4;
    justify-self: center;
  }
  .contact-info {
    margin-top: 30px;
    grid-column: 1 / -1;
    h2 {
      font-size: 22px;
    }  
    p {
      font-size: 14px;
    }
  }
}








/**********************************************************
FOOTER
**********************************************************/



footer {
  background:$bg-black;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  ul {
    grid-column: 2 / span 1;
    margin-right: 40px;
  }
  li {
    display: inline-block;
    padding: 10px;
  }
  
}
  

.bottom-nav {
  position: relative;
  width: 100%;
  a {
    color: $white-soft;
    border-bottom: 1px solid $white;
    &:hover {
      color: $main-blue;
      border-bottom: 3px solid $white;
    }
  }
}


.foot-work {
  padding: 3px 0;
  position: absolute;
  top: 40px;
  left: 5px;
  transform: rotate(-90deg);
  
}

.foot-about {
  padding: 3px 0;
  position: absolute;
  left: 45px;
  
}

.foot-twit {
  padding: 3px 0;
  position: absolute;
  right: 45px;
  
}

.foot-email {
  padding: 3px 0;
  position: absolute;
  top: 43px;
  right: 5px;
  transform: rotate(90deg);
  
}

#twit-color {
  color: $twit-color;
  &:hover {
    color: $white-soft;
  }
}

#email-color {
  color: $email-color;
  &:hover {
    color: $white-soft;
  }
}  





/**********************************************************
MEDIA QUERIES
**********************************************************/



/*changes navigation links to horizontal*/

// @media (min-width:500px) {
//   nav {
//     margin-top: 0;
//   }
//   nav ul {
//     display: grid;
//     grid-auto-flow: column;
    
//   }
  
// }



/*Adjusts intro on mobile*/






/**********************************************************
INDIVIDUAL WORK PAGES
**********************************************************/


// .single-work {
//   grid-column: 2 / 3;
//   h2 {
//     grid-column: 1 / -1;
//     font-size: 1.1em;
//     color: $mid-black;
//     // margin: 0 0 2rem;
//   }
//   ul {
//     grid-column: 1 / -1;
//     padding: 0;
//     li {
//       font-size: 14px;
//       text-transform: uppercase;
//     }
//   }
//   p {
//     grid-column: 1 / -1;
//     margin: 0 0 2rem;
//   }
//   .work-description {
//     grid-column: 1 / -1;
//   }
//   img {
//     max-width: 100%;
//     height: auto;
//     box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.18);
//     padding: 10px;
//   }
//   video {
//     box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.18);
//     padding: 10px;
//   }
//   #hms-4 {
//     grid-column: 1 / span 2;
//   }
//   #hms-5 {
//     grid-column: 3 / span 2;
//   }
//   #hms-6 {
//     grid-column: 5 / span 2;
//   }
//   #cssiav-4 {
//     grid-column: 2 / span 4;
//   }
//   #instock-mobile-video {
//     grid-column: 1 / span 3;
//   }
//   #jgarland-mobile-video {
//     grid-column: 1 / span 3;
//   }
  
// }

// @media (min-width: 767px) {
//   .single-work h2 {
//     font-size: 1.3em;
//   }
// }








